.sidebar {
    width: 300px;
    overflow-y: auto;
    padding: 20px;
}

@media (max-width: 991.98px) {
    .content-wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}

.toc-container a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: var(--bs-gray-900);
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.toc-container li {
    padding-bottom: 0.5rem;
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    list-style-type: none;
}

    .toc-container li.active {
        font-weight: bolder;
        border-left: .125rem solid var(--bs-gray-900);
    }

    .toc-container li:hover {
        background-color: var(--bs-gray-200);
    }

.page-toc {
    position: sticky;
    top: 20px;
}