@using BlakePlugin.DocsRenderer.Types
<div class="d-lg-none mb-4">
    <button class="btn btn-outline-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#page-toc-mobile" aria-expanded="false" aria-controls="page-toc-mobile">
        On This Page <span class="bi bi-chevron-down ms-2"></span>
    </button>
    <div class="collapse" id="page-toc-mobile">
        <nav class="nav flex-column mt-3">
            <ul>
                @foreach (var docSection in PageSections)
                {
                    <li>
                        <a href="#@docSection.Id">@docSection.Text</a>
                        @if (docSection.Children.Count > 0)
                        {
                            <ul>
                                @foreach (var child in docSection.Children)
                                {
                                    <li>
                                        <a href="#@child.Id">@child.Text</a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

@code {
    [Parameter]
    public required List<Section> PageSections { get; set; }
}