@using BlakePlugin.DocsRenderer.Types
@using Microsoft.AspNetCore.Components.Routing
<nav class="col-lg-2 col-md-3 bdr-sidebar bg-dark border-end">
    <div class="p-3">
        <div class="nav flex-column bdr-toc">

            @foreach (var node in Nodes)
            {
                <h6 class="text-muted text-uppercase small fw-bold mt-3 mb-2">@node.Text</h6>
                @foreach (var child in node.Children)
                {
                    var styleClass = $"bdr-nav-link {(IsActive(child) ? "active" : "")}";
                    <NavLink href="@child.Slug" class="@styleClass">
                        @child.Text
                    </NavLink>
                }
            }
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public string Title { get; set; } = "Site Contents";

    [Parameter]
    public required List<TocNode> Nodes { get; set; }

    [Parameter]
    public required string ActiveSlug { get; set; }

    private bool IsExpanded(TocNode node) =>
        !string.IsNullOrEmpty(ActiveSlug) &&
        ActiveSlug.StartsWith(node.Slug, StringComparison.OrdinalIgnoreCase);

    private bool IsActive(TocNode node) =>
        string.Equals(ActiveSlug, node.Slug, StringComparison.OrdinalIgnoreCase);
}